<div class="modal-header"><h4 class="modal-title">{{ modalTitle }}</h4></div>
<div class="modal-body">
    
    <div class="alert alert-danger" ng-show="errorMessage"> {{ errorMessage }} </div>

    <div class="form-group" ng-class="{ 'has-error' : errors['productName'] }">
        <label for="txtProductName">Product name:</label>
        <input type="text" id="txtProductName" class="form-control" ng-model="currentOrder.productName" />
        <p class="help-block" ng-show="errors['productName']"> {{ errors['productName'] }} </p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : errors['shortDescription'] }">
        <label for="txtShortDescription">Short description:</label>
        <input type="text" id="txtShortDescription" class="form-control" ng-model="currentOrder.shortDescription" />
        <p class="help-block" ng-show="errors['shortDescription']"> {{ errors['shortDescription'] }} </p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : errors['price'] }">
        <label for="txtPrice">Price:</label>
        <input type="text" id="txtPrice" class="form-control" ng-model="currentOrder.price" />
        <p class="help-block" ng-show="errors['price']"> {{ errors['price'] }} </p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : errors['status'] }">
        <label for="type">Status:</label>
        <select name="status" id="status" class="form-control" 
                ng-model="currentOrder.status.code"
                ng-change="checkSelectedStatus()">
          <option ng-repeat="status in statuses" value="{{status.code}}" ng-selected="currentOrder.status.code === status.code" >{{status.title}}</option>
        </select>
        <p class="help-block" ng-show="errors['status']"> {{ errors['status'] }} </p>
    </div>
    
</div>
<div class="modal-footer">
    <div class="form-group">
        <button class="btn btn-primary" ng-click="save(currentOrder)">Save</button>
        <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    </div>
</div>
