<div class="row" data-ng-controller="OrderController">
  <div class="form-group">
    <input type="text" class="form-control" id="ordersearch" placeholder="Search orders" data-ng-model="ordersearch" />
  </div>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Product</th>
        <th>Short description</th>
        <th>Price</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="order in orders | filter:ordersearch">
        <td>{{order.productName}}</td>
        <td>{{order.shortDescription}}</td>
        <td>{{order.price}}</td>
        <td>{{order.status.title}}</td>
        <td>
            <button class="btn btn-small" ng-click="editOrder(order)">Edit</button>
            <button class="btn btn-small" ng-click="deleteOrder(order)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
